VITE_SUPABASE_URL=https://ahncurropzinumyxapqw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFobmN1cnJvcHppbnVteXhhcHF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1OTM3NjQsImV4cCI6MjA3NzE2OTc2NH0.bz4jekfGoBNuwMhCVjbgYpPqhBNxJggbqLtf0MXvC0E
